<h3>Verified random number</h3>

Every day, this website will post a new encrypted random number that can be decrypted (N time later) per person. Potentially up to 49 additional people could recieve additional random numbers linked to the master.

@code {

}
