<h3>NoPassword</h3>

Moving away from the password
- Secure: multifactor and step up
- Key (Yubi or other cert, smartcard, etc)
- UBI quota growth
- open SUDO: Trusted subsystem for resources, many users. Step up authentication for banking etc, to prevent delegate issues.

@code {

}
