<h3>Dropbox</h3>

Get permissions from dropbox and use them (by date of files in them, or last access, or last change, or audit log... )
@code {
    // when looking at old data, there is a longingness to things that may be associated to people in the past.
    // Living and active people, vs things from accounts (relatives, old girlfriends, past selves)
    //may create mental fatigue that isn't beneficial for the loving and simple life of innocence that we are apiring to rekindle
}
