<h3>Online buyer protection</h3>

UPS, Fedex, USPS, etc... replace the delivery address with a unique, easy to type Base58 checked version of an address

>
User trust equivalancy is like the CLEAR boarding express lanes on an airplane. Just redacted and anon'd for online use. Good for online bidding systems. In light of COVID, items could be cleaned during the layover process.

@code {

}
