<h3>Component1</h3>

Threatmodel:
- Anywhere, anytime, Bonsai Hollistic Healthcare (Doctor)
- Anywhere, anytime, Bonsai Hollistic Healthcare (Patient)
- HTTP Only Safenet
- Finance and money (teaching, budget/allocation, UBI backfill/transition game ,volunteerism, moneyfree/time)

<br />
<br />

Browser Detected:

Connection (VPN, Tor, TLS?, OS version)

plugins

@code {

}
