<h3>Finance</h3>

Similar to how an investor manages stocks to exert influence, a Yodelee connection will allow for aggregation of bills, and promote better quality customer service, products, and other options available from the group-buying power of consumers.

@code {

}
