<h3>Consolidated Index</h3>

<div>Background</div>
<div>Citizen Tools</div>
<div>Demographic Data Safety</div>
<div>Education</div>
<div>Finance</div>
<div>Health</div>
<div>Location Alerts (anon)</div>
<div>Self Soverignity Assertions</div>
@code {

}
