<h3>Self-Soverignty Assertion</h3>

No idea how this works legally, or if it's valid, however in concept any non-nationalized (meta alien?) could create, maintain, and secure a cryptographic secret that allows access to personal data.
<br />
<br />
Todo: identify the technlogy set to be used for identification here (Bitcoin Signature (with balance age/lookup)), alternative multiparty "endorsement" of anonomized known individuals of stature "XYZ", etc. To be ironed out in the forums...

@code {

}
