<h3>Contact a customer</h3>

Issuers and relying parties (apps and websites) can contact their customers via this website or the API. Customers will see a list of pending alerts who they were from and where to.

Unlogged alerts will come at another time. This is suitable for Azure notification hub, PushSharp, Android Firebase push, and IoT push

@code {

}
