<h3>Component1</h3>

todo: list connected server, instance and other items
<br />
Social media accounts,
governed accounts
etc.
<br />
If user has more than one regulation (like having many passports)
todo: list connected server, instance and other items
<br />
Social media accounts,
governed accounts
etc.
@code {

}
