<h3>HDAO Start Here</h3>
<br />
No matter if you are running this HODAO creator on a public website, or on your local machine, this workflow will assist you in the creation of a Human Operated Distributed Autonomous Organization (HODAO). Good ideas need good people to keep things running, localized in concept, culture, and language (regional dialect) so that the "business machine" doesn't erode the best parts of humanity and what it has to offer.
<br />
<br />
<div>To get started, we need to first answer a few questions:</div>
<br />
<div>What country are you located in?</div>
<br />
<div>What country are you a citizen of?</div>
<br />
<div>What countries would you like this idea/tool/solution to exist (regardless of who makes a profit)?</div>
<br />
<div>
    Does the business idea fit any of the categories:<br />
    <div>Cooperative (read more)</div>
    <div>Social Enterprise</div>
    <div>b-Corporation</div>
    <div>GNU Dual Licenensed Software (LGPL/GPL version 2 or 3+)</div>
    <div>Open Source PaaS, IaaS, AaaS</div>
</div>
<br />
<br />
<div>
    <em>Please note:</em>
    <div>HODAOs are not to be used with finance, virtual currency, or voting and democracy solutions. Things get weird and complicated and there are too many basic fundamental needs that need to be taken care of first (see Maslow's pyramid and the book or audiobook "The Price of Inequality" for more).  Money as a teaching tool for responsiblity management and opportunity is simulated in the (trustlane games) section.  Inspiration: The goal isn't to get "money for free", rather it's to live among others without needing money as a stand-in for <em>(todo: place a word here that represents the opposite of freedom and liberation)</em></div>
</div>
<br />
If United States you will need a tax ID called an EIN

@code {

}
