<h3>Sales</h3>

If in the form of a direct campaign (resales), the following demographics represent the binned and anonymized set of users who have agreed to have some of their information used to fund the operations of this site.

<br />

If you are currently logged in, you can see what data of your is available for advertisers, and 3rd party use. This information can be redacted, abstracted (varying levels), de-identified, cryptographically substituted (Format preserving encryption), binned into demographic or technical groups, or trace enabled so that if the data is reshared again, the orign of the leak can be determined

<h3>Comission</h3>

Comission can be offered once Stripe (or other) integration is completed.

@code {

}
